body {
  background-color: #E0E0E0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body, .event-year {
  margin: 0px;
}

body.dark {
    color: white;
    background-color: black;
  }


h1, h2 {
    text-align: center;
  }

.nav-bar {
  background-color: white;
  height:40px;
  padding: 5px;
  
}

.dark .nav-bar {
  background-color: #202020;
}

a:visited {
  color:blue;
}

.dark a {
  color: white;
}


.date-button,
.nav-items {
  margin: 5px;
}

.nav-items {
  float: right;
}

.nav-home {
  text-decoration: none;
}

.light-dark-icon{
  height: 20px;
  width: 20px;
}
.category-container,
.date-selection,
.events-container,
.event,
.event-caption {
  display: flex;
}

.date-selection {
  justify-content: center;
}

.date-tool {
  margin: 5px;
}


.category-container {
  flex-wrap: wrap;
}

.category,
.event {
  flex-basis: 20%;
}
.category,
.event {
  text-align: center;
}

.category {
  font-weight: bold;
}

.active{
  pointer-events: none;
  text-decoration: none;
  font-weight: normal;
}

.events-container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.sort-label {
  margin-left: 10px;
}

.event-caption {
  justify-content:first baseline;
}

.event-caption,
.event {
  flex-flow: column wrap;

}
.event {
  margin: 12px;
  border: 4px solid black;
}

.bookmark-button {
  width: 50%;
}

.event-image,
.image-link {
  align-self: center;
}

.event-year {
  justify-content: baseline;
}




