.page-item {
  list-style-type: none;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
}

.page-item,
.event-image {
  background: white
}

.all-label {
  font-size: 14px;
}

.page-link {
  cursor: pointer;
}

.dark .page-item {
  background: black;
  font-size: 13px;
}

.active-item {
  color: white;
}

.dark .active-item,
.active-item {
  background: grey;
}

.pagination {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
}

body {
  background-color: #E0E0E0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body,
.event-year {
  margin: 0px;
}

h1,
.login-label,
.login-submit {
  margin-top: 10px;
}

h3 {
  margin-bottom: 0px;
}

.dark,
.dark select,
.dark button {
  color: white
}

.dark,
.dark select {
  background-color: black;
}

.dark button,
.dark select {
  background-color: #202020;
}

.dark button:hover {
  opacity: 85%
}

.dark button:active {
  transform: scale(.98);
}

.dark a:active {
  color: blue;
}

.dark .bookmark-button {
  background-color: black;
}

.dark {
  min-height: 100vh;
}

h1,
h3,
h2,
.category,
.event {
  text-align: center;
}

.nav-bar {
  background-color: white;
  width: 100%;
}

.nav-left {
  margin-right: auto;
}

.nav-bar a,
.active {
  text-decoration: none;
}

.nav-bar a,
.light-dark-icon,
.sort-wrapper {
  padding: 5px;
}

.dark .nav-bar {
  background-color: #202020;
}

a:visited {
  color: blue;
}

.dark a {
  color: white;
}

.date-button,
.nav-items {
  margin: 5px;
}

.light-dark-icon {
  width: 21px;
  height: 21px;
}

.category-container,
.date-selection,
.events-container,
.event-border,
.event-caption,
.nav-bar,
.nav-left,
.nav-right,
.login-form,
.login-container,
.all-label,
.pagination,
.pagination-container .sort-wrapper {
  display: flex;
}

.date-selection {
  margin-bottom: 10px;
}

.category-container,
.date-selection,
.login-container,
.all-label,
.pagination,
.pagination-container,
.login-container,
.login-form,
.sort-wrapper {
  justify-content: center;
}

.category-container,
.events-container {
  flex-wrap: wrap;
}

.category,
.event {
  flex-basis: 20%;
}

.category {
  font-weight: bold;
}

.active {
  opacity: 75%;
  pointer-events: none;
  font-weight: normal;
}

.events-container {
  justify-content: space-around;
}

.sort-tool {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 13px
}

.event-caption,
.event-border,
.login-form .login-container,
.pagination-container {
  flex-flow: column wrap;
}

.event {
  margin: 1.5%;
}

.bookmark-button {
  min-width: 45%;
}

.image-link,
.bookmark-button,
.login-submit {
  align-self: center;
}

.login-submit {
  width: 50%;
}

.event-image {
  margin: 20px;
  max-width: 65%;
}

.event-caption,
.event-image {
  margin-bottom: 5px;
}

.event-border {
  border: 2px solid black;
  background-color: #f5f5f5;
}

.dark .event-border {
  background-color: #202020;
}

.event-description,
.bookmark-button,
h2 {
  margin: 10px;
}

.event-year {
  background-color: skyblue;
}

.dark .event-year {
  background-color: #002366;
}

.page-item,
.event-image {
  border: 1px solid black;
}

.dark .event-image,
.dark .page-item,
.dark,
.dark select,
.dark button,
.dark .event-border {
  border: 1px solid white;
}

@media screen and (max-width: 830px) {
  .event {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 600px) {
  .event {
    min-width: fit-content;
  }

  .category {
    min-width: 90%;
  }

  h1 {
    font-size: x-large;
  }

  h2 {
    font-size: large;
    margin-bottom: 10px;
  }
}